<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ano}} MES {{mes}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="datos">
    <ion-item-sliding *virtualItem="let unitem" >
      <ion-item-options side="start">
        <ion-item-option color="primary" >
            Detalles
          </ion-item-option>
      <ion-item-option color="secondary">
        Editar
      </ion-item-option>
      
    </ion-item-options>
    <ion-item-options side="end">  
      <ion-item-option color="secondary">
            Compartir
        </ion-item-option>
        <ion-item-option color="danger">
          Eliminar
        </ion-item-option>
    </ion-item-options>
      <ion-item>
        <ion-label>
          <h4><ion-icon name="person" class="persona" color="primary"></ion-icon> {{unitem.codigo}}</h4>
          <p>{{unitem.nombre}} </p>
          <!-- <p>ano: {{unitem.ano}} | mes: {{unitem.mes}}</p> -->
          <!-- <ion-badge color="secondary">{{unitem.cant}}</ion-badge> -->
        </ion-label>
        <div class="divmarcador" slot="end"><ion-button [routerLink]="['/camara',unitem.codigo,unitem.nombre,unitem.ano,unitem.mes]"><ion-icon name="camera" ></ion-icon></ion-button></div>
      </ion-item>
    </ion-item-sliding>  
</ion-virtual-scroll>
 
</ion-content>
